ion-content {
    
      .btn{
        height: 40px;
      }  
        background-color: black!important;
        
    
    .list{
        background-color: black!important;    
    }

   h3,h2{
           color: aqua;
   }
.ps{
    height: 40px;
    
}
}
.ion-toolbar 
{
    color: aqua;
.head{

    background-color: black!important;  
}}